# GitHub Action to automate the identification of common misspellings in text files.
# https://github.com/codespell-project/actions-codespell
# https://github.com/codespell-project/codespell
name: codespell
on: [push, pull_request]
jobs:
  codespell:
    name: Check for spelling errors
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: codespell-project/actions-codespell@master
        with:
          check_filenames: true
          skip: ./.git,./dist/translations
          ignore_words_list: "auxilary,casette,cemetary,chancel,extentions,faiway,generat,goverment,guerilla,kindergarden,pavillion,sculpter,storys"
          only_warn: 1
